.video {
  background: black;
  height: 600px;
  width: 800px;
  margin: 12px;
  position: relative;
}

@keyframes danmu-animation {
  0% {
    left: 105%;
  }
  100% {
    left: -5%;
  }
}

.danmu-item {
  position: absolute;
  animation: danmu-animation;
  animation-duration: 12800ms;
  animation-timing-function: linear;
}

.danmu-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(1);
  overflow: hidden;
}