.video {
  background: black;
  height: 600px;
  width: 800px;
  margin: 12px;
  position: relative;
}

@keyframes danmu-animation {
  from {
    transform: translateX(0);
    /* left: 800px; */
  }
  to {
    transform: translateX(-900px);
    /* left: -100px; */
  }
}

.danmu-item {
  position: absolute;

  left: 800px;
  word-break: keep-all;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 0 5px;

  animation-name: danmu-animation;
  animation-duration: 12s;
  animation-timing-function: linear;
}

.danmu-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  will-change: transform;
  overflow: hidden;
  pointer-events: none;
}

.video-component {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.form-control {
  width: 100%;
}

.send-danmu-container {
  margin: 24px 12px;
}

.danmu-switcher-container {
  display: flex;
  margin: 24px 12px;
  justify-content: space-between;
}

.online-container {
  display: flex;
  justify-content: center;
}
