.video {
  background: black;
  margin: 12px;
  position: relative;
}

@media screen and (max-width: 650px) {
  .video {
    height: 62.5vw;
    width: 100vw;
  }

  .danmu-switcher-container {
    flex-flow: column;
  }

  .danmu-switcher-container > * {
    margin: 6px 0 !important;
  }
}

@media screen and (min-width: 650px) {
  .video {
    height: 50vw;
    max-width: 800px;
    max-height: 500px;
    width: 80vw;
  }
}

.danmu-item {
  position: absolute;
  left: 100%;
  
  word-break: keep-all;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 0 5px;

  will-change: transform;
  z-index: 2;
}

.danmu-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  will-change: transform;
  overflow: hidden;
  pointer-events: none;
}

.video-component {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.form-control {
  width: 100%;
}

.send-danmu-container {
  margin: 24px 12px;
}

.danmu-switcher-container {
  display: flex;
  margin: 24px 12px;
  justify-content: space-between;
}

.online-container {
  display: flex;
  justify-content: center;
}
